@model WEB.Models.StudentViewModel
@{
    ViewBag.Title = "CreateStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card m-5">
    <h3 class="card-header text-center">Додати нового студента</h3>
    <div class="card-body">
        <form class="p-a-1" action="/Student/CreateStudent" method="post">
            <div class="form-group">
                <label for="Name"> Ім'я: </label>
                <input class="form-control" name="Name" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="GroupName"> Група: </label>
                <select id="groups" name="GroupName">
                    <option></option>
                    @foreach (var item in ViewBag.groups)
                    {
                        <option>@item.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <button type="submit">Зберегти</button>
            </div>
        </form>
    </div>
</div>
<p>@Html.ActionLink("До списку студентів", "ShowStudent", "Student")</p>
<p>@Html.ActionLink("На головну", "Index", "Home")</p>
