@model IEnumerable<WEB.Models.SubjectViewModel>
@{
    ViewBag.Title = "ShowSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>@Html.ActionLink("Додати предмет", "CreateSubject", "Subject")</p>

<table class="table">
    <tr>
        <th><p>Назва предмету</p></th>
        <th><p>Середній бал по предмету</p></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.SubjectAvg.ToString("0.00")</p>
            </td>
            <td>
                @Html.ActionLink("Інформація", "SubjectDetails", "Subject", new { idSubject = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Видалити предмет", "DeleteSubject", "Subject", new { idSubject = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "EditSubject", "Subject", new { idSubject = item.Id }, null)
            </td>
        </tr>
    }
</table>
<br/>
<br/>
<br/>
<form asp-controller="Student" asp-action="ShowStudent" method="get" style="display: flex; justify-content:center; border: 1px solid #CAD0D3; padding-top: 10px; align-items:center; margin-bottom: 10px;">
    <div>
        <p>Назва: <input type="text" name="searchName"></p>
        <p>
            Середній бал: <select id="subjectsAvg" name="searchSubjectAvg" asp-for="searchSubjectAvg" asp-items="@ViewBag.subjectAvgs">
                <option>Всі</option>
                @foreach (var item in ViewBag.subjectAvgs)
                {
                    <option>@item.ToString("0.00")</option>
                }
            </select>
        </p>
        <p>
            Успішність студентів з предмету: <select id="progress" name="searchProgress" asp-for="searchProgress">
                <option>Всі</option>
                <option>Успішні</option>
                <option>Неуспішні</option>
            </select>
        </p>
        <input type="submit" value="Пошук" />
    </div>
</form>
<p>@Html.ActionLink("Cписок предметів", "ShowSubject", "Subject")</p>
<p>@Html.ActionLink("На головну", "Index", "Home")</p>
